@model Bundle_Islemleri.Models.Haber

@{
    ViewBag.Title = "Detay";
}

<h2>Detay</h2>

<div>
    <h4>Haber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            <img src="@Model.Url" alt="Alternate Text" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YayinlanmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YayinlanmaTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
